<h4>Post details: </h4>
	<br/>
	<p>Content: <%= @post.content %></p>
	<br/>
	<h4>Comments:</h4>

<% @comments.each do |commentary|%>
	<p>
	<%= commentary.comment %>
		<br/>
		<span style="font-size: 75%; color: #999">Added at <%= commentary.created_at %></span>
	</p>
	<hr/>
<%end%>

	<p>
	<form action="/details/:id" method="POST" role="form">
		<textarea name="comment[comment]" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type comment here"></textarea>
	</br>
	    <button type="submit" class="btn btn-primary">Add comment</button>
	</form>
	</p>
