<h2>Latest post: </h2>
<br/>
<% @results.each do |post| %>
	<p>
		<%= post['content']%>
		<br/><br/>
		Added at <%= post['ceated_date']%>
		<br/>
		<span style="font-size: 75%; color: #999">User <%= post['username']%></span>
		<br/>
		<br/>
		<a href="/details/<%= post['id']%>">Comments</a>
	</p>
<hr/>
<% end %>