<h2>Add new post </h2>

<p>
<form action="/new" method="POST" role="form">
	<div class="form-group">
    <label>Ваше имя</label>
    <input name="post[name]" type="text" class="form-control" placeholder="Ваше имя" value="<%= @p.name %>">
    </div>
    <textarea name="post[content]" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type post test here"></textarea>
</br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>

